<!--online-health-consultation-->
<section id="online-health-consultation" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <h2 class="ser-title">Online Health and Nutrition Consultation</h2>
        <hr class="botm-line">
        <p>Get personalized health and nutrition advice from our experts through our Online Consultation System. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="service-info">
          <div class="icon">
            <i class="fa fa-stethoscope"></i>
          </div>
          <div class="icon-info">
            <h4>24/7 Expert Support</h4>
            <p>Access round-the-clock support from our certified health and nutrition experts to address your concerns and queries.</p>
          </div>
        </div>
        <div class="service-info">
          <div class="icon">
            <i class="fa fa-ambulance"></i>
          </div>
          <div class="icon-info">
            <h4>Emergency Consultation</h4>
            <p>Immediate online consultations available for emergency health situations with our experienced medical professionals.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="service-info">
          <div class="icon">
            <i class="fa fa-user-md"></i>
          </div>
          <div class="icon-info">
            <h4>Nutritional Counseling</h4>
            <p>Receive personalized nutritional guidance and counseling to achieve your health and wellness goals.</p>
          </div>
        </div>
        <div class="service-info">
          <div class="icon">
            <i class="fa fa-medkit"></i>
          </div>
          <div class="icon-info">
            <h4>Premium Health Plans</h4>
            <p>Explore premium online health plans tailored to your specific needs, ensuring comprehensive care and support.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ online-health-consultation-->
